.App {
	/* Apariencia */
	overflow: hidden;
	/* Posicion */
	height  : 100%;
	left    : 0;
	position: absolute;
	top     : 0;
	width   : 100%;
}
.App >.pattern {
	/* Apariencia */
	opacity       : .2;
	pointer-events: none;
	/* Posicion */
	height   : 140%;
	position : absolute;
	top      : 50%;
	transform: translateY(-50%);
	z-index  : -1;
}
