.ICar {
	/* Apariencia */
	align-items  : center;
	border-bottom: solid 1px rgba( 0, 0, 0, .1 );
	cursor       : pointer;
	display      : flex;
	transition   : background-color .3s ease-out;
	/* Posicion */
	height : 70px;
	padding: 10px;
}
.ICar:hover {
	/* Apariencia */
	background-color:rgba( 0, 0, 0, .05 );
}
.ICar >* {
	/* Apariencia */
	pointer-events: none;
	user-select   : none;
}
.ICar >.image {
	/* Posicion */
	margin-right: 10px;
	width       : 50px;
}
