.CCarInfo {
	/* Apariencia */
	display              : grid;
	grid-gap             : 20px;
	grid-template-columns: repeat(4, 1fr);
	transition           : background-color .3s ease-out;
	/* Posicion */
	margin  : 0 50px;
	position: relative;
	width   : 500px;
}
.CCarInfo >.image {
	/* Apariencia */
	align-items      : center;
	background-color : white;
	box-shadow       : 0 0 10px rgba(0,0,0,.5);
	display          : flex;
	grid-column-end  : 5;
	grid-column-start: 1;
	overflow         : hidden;
	/* Posicion */
	height: 300px;
}
.CCarInfo >.image >img {
	/* Posicion */
	width: 100%;
}
.CCarInfo >.description {
	/* Apariencia */
	grid-column-end  : 5;
	grid-column-start: 2;
}
.CCarInfo >.maintainer {
	/* Posicion */
	bottom  : -60px;
	position: absolute;
	right   : 30px;
}

.CCarInfo.in_maintainer {
	/* Apariencia */
	background-color: rgba(0,0,0,.1);
}
